


<div class="wrapper-body">
    <div class="pageheader-Title">
        <h3>
            Careers
            <span>Home / <a href="#">Careers</a></span>
        </h3>
    </div>
    <section class="welcome-section">
        <div class="container">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 no-padding">
                <img src="~/Content/img/careers_pic.png" alt="about-picture" class="img-responsive" style="width:100%;">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 padding-left">
                <h2>Build careers <span style="color:#00c5dc;">with us</span></h2>
                <p><span>We value determination and smart thinking.</span></p>
                <p>
                    Essential reading for those with a professional, active and can-do attitude to work. We are looking for people who really believe they can make a difference. People with a track record of success who are competent, enthusiastic, collaborative, smart, teachable, self motivated, committed to excellence and strong results and having a positive, can do, whatever it takes attitude are welcome. If this sound like your kind of place, read on.
                </p>
                <p>
                    Pioneer Web provides a collegial and friendly work environment. At the same time it is serious about setting high standards in integrity and business practices , building innovative products and strong relationships with clients, developing its employees, and achieving real results that are nothing short of complete success for customers and the company.
                </p>
            </div>
            <div class="clr"></div>
            <br />
            <p>
                Pioneer Web provides competitive compensation and benefits and the opportunity for personal and professional growth. If you are interested please send resume on: <span>jobs@pioneer-web.co.uk</span>
            </p>
        </div>
    </section><!--End_welcome-section-->

    <section class="testimonial-section">
        <div class="container">
            <div class="page-title">
                <p>Testimonials</p>
                <h1>What <span>Other Say</span></h1>
                <img src="~/Content/img/titleborder.png" alt="titleborder">
            </div>
            <div class="col-md-12 no-padding" data-wow-delay="0.2s">
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner text-center edittestmonial">
                        <!-- Quote 1 -->
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="quote_icon">
                                        <img src="~/Content/img/quote_L.png" alt="quote_L" class="quoteicon_l">
                                        <img src="~/Content/img/quote_R.png" alt="quote_R" class="quoteicon_r">
                                    </div>
                                    <p>
                                        We focus on using the latest technologies to provide qualified leads and best possible benefit on your investment to help you <br />to achieve your sales target through our lead generation services.
                                    </p>
                                    <span>Someone famous</span>
                                </div>
                            </div>
                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="quote_icon">
                                        <img src="~/Content/img/quote_L.png" alt="quote_L" class="quoteicon_l">
                                        <img src="~/Content/img/quote_R.png" alt="quote_R" class="quoteicon_r">
                                    </div>
                                    <p>
                                        We focus on using the latest technologies to provide qualified leads and best possible benefit on your investment to help you <br />to achieve your sales target through our lead generation services.
                                    </p>
                                    <span>Someone famous</span>
                                </div>
                            </div>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="quote_icon">
                                        <img src="~/Content/img/quote_L.png" alt="quote_L" class="quoteicon_l">
                                        <img src="~/Content/img/quote_R.png" alt="quote_R" class="quoteicon_r">
                                    </div>
                                    <p>
                                        We focus on using the latest technologies to provide qualified leads and best possible benefit on your investment to help you <br />to achieve your sales target through our lead generation services.
                                    </p>
                                    <span>Someone famous</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Carousel Buttons Next/Prev -->
                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control" style="color:#00c5dc;">
                        <i class="zmdi zmdi-chevron-left zmdi-hc-fw"></i>
                    </a>
                    <a data-slide="next" href="#quote-carousel" class="right carousel-control" style="color:#00c5dc;">
                        <i class="zmdi zmdi-chevron-right zmdi-hc-fw"></i>
                    </a>
                </div>
            </div>
        </div>
    </section><!--End_testimonial-section-->
</div>


