


<div class="wrapper-body">
    <section class="index-slider">
        <!--start-->
        <div id="ninja-slider">
            <div class="slider-inner">
                <ul>
                    <li>
                        <!-- <a class="ns-img" href="img/slider1.jpg"></a> -->
                        <div class="caption">
                            <span>Delivering qualified</span>
                            leads for your business needs
                            <p>
                                We are wholly focused on lead generation to make sure leads convert into business by engaging suitable qualifiers and filters to provide you a platform to target the right customers.
                            </p>
                            <button class="p_color_bg tran3s">Contact Now</button>
                        </div>
                    </li>
                    <li>
                        <!-- <a class="ns-img" href="img/slider1.jpg"></a> -->
                        <div class="caption">
                            <span>Delivering qualified</span>
                            leads for your business needs
                            <p>
                                We are wholly focused on lead generation to make sure leads convert into business by engaging suitable qualifiers and filters to provide you a platform to target the right customers.
                            </p>
                            <button class="p_color_bg tran3s">Contact Now</button>
                        </div>
                    </li>
                    <li>
                        <!-- <a class="ns-img" href="img/slider1.jpg"></a> -->
                        <div class="caption">
                            <span>Delivering qualified</span>
                            leads for your business needs
                            <p>
                                We are wholly focused on lead generation to make sure leads convert into business by engaging suitable qualifiers and filters to provide you a platform to target the right customers.
                            </p>
                            <button class="p_color_bg tran3s">Contact Now</button>
                        </div>
                    </li>
                    <!-- <li>
                        <a class="ns-img" href="img/4.jpg"></a>
                        <div class="caption">NON·JQUERY</div>
                    </li>
                    <li>
                        <a class="ns-img" href="img/5.jpg"></a>
                        <div class="caption">MOBILE·FRIENDLY</div>
                    </li> -->
                </ul>
                <div class="navsWrapper">
                    <div id="ninja-slider-prev"></div>
                    <div id="ninja-slider-next"></div>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding m-t-27">
                <img src="img/slider_pic1.png" alt="men-img" class="img-responsive" style="width:100%;">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding m-t-40">
                <h2>
                    <span>Delivering qualified</span>
                    leads for your business needs
                </h2>
                <p>
                    We are wholly focused on lead generation to make sure leads convert into business by engaging suitable qualifiers and filters to provide you a platform to target the right customers.
                </p>
                <ul>
                    <li>Our leads are unique and exclusive</li>
                    <li>We deliver what we promise</li>
                </ul>
                <a href="#" class="p_color_bg tran3s">Contact Now</a>
            </div>
            <div class="clr"></div>
        <div class="cloud">
            <img src="img/cloud.png" alt="cloud" class="img-responsive" style="width:100%;">
        </div> -->
    </section><!--End_index-slider_section-->

    <section class="chooseus_section">
        <div class="page-title">
            <h1>Why <span>Choose Us?</span></h1>
            <img src="~/Content/img/titleborder.png" alt="titleborder">
        </div>
        <div class="chooseus-body">
            <div class="container">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 single_info">
                    <div class="icon border_round tran3s">
                        <img src="~/Content/img/service.png">
                    </div>
                    <div class="text">
                        <div class="title">
                            <h4>Our Strategy</h4>
                            <span class="font_fix">01</span>
                            <p>
                                Through our strategies we target the right audience to help you convert leads into business. We always use filters to segregate relevant leads.
                            </p>
                            <br />
                            <a href="#" class="font_fix tran3s">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 single_info">
                    <div class="icon border_round tran3s">
                        <img src="~/Content/img/service2.png">
                    </div>
                    <div class="text">
                        <div class="title">
                            <h4>Our Services</h4>
                            <span class="font_fix">02</span>
                            <p>
                                At Pioneer we strive to provide you quality services and always focus on improvement. We have valuable experience and give importance to feedbacks.
                            </p>
                            <br />
                            <a href="#" class="font_fix tran3s">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 single_info">
                    <div class="icon border_round tran3s">
                        <img src="~/Content/img/service3.png">
                    </div>
                    <div class="text">
                        <div class="title">
                            <h4>Lead Generation</h4>
                            <span class="font_fix">03</span>
                            <p>
                                Our lead generation services help you to satisfy your business needs and meet your sales goal. We can generate qualified leads to help you build your business.
                            </p>
                            <br />
                            <a href="#" class="font_fix tran3s">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </section><!--End_chooseus_section-->

    <section class="welcome-section">
        <div class="container">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 no-padding">
                <img src="~/Content/img/picture1.jpg" alt="welcome-picture" class="img-responsive" style="width:100%;">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 padding-left">
                <h2>Welcome to Pioneer Web</h2>
                <p>
                    <span>The latest evolution in online lead generation</span>. We are committed to ensuring our lead buyers to get highest possible return on their investment. Pioneer Web is a direct marketing company that generates life insurance leads, health insurance leads, medical insurance leads, debt management leads, credit card leads, loan leads, mortgage leads, equity leads through multiple sources including website through Google AdWords.
                </p>
                <p>
                    Our sole aim is to ensure that our Clients’ expectations are exceeded. We have no doubt that our clients will be 100% satisfied with our impressive and achievable results. With our creative and experienced team, we are proud to lead the way within the dynamic world of multi-channel lead generation.
                </p>
            </div>
        </div>
    </section><!--End_welcome-section-->

    <section class="promot-iLDS">
        <div class="container">
            <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12 padding-right">
                <h2>Our<span>iLDS</span>Statics</h2>
                <p>
                    We focus on using the latest technologies to provide qualified leads and best possible benefit on your investment to help you to achieve your sales target through our lead generation services.
                </p>

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <span class="zmdi zmdi-minus zmdi-hc-fw"></span>
                                    Indexes and volumes dashboards
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>
                                    This topic is a reference for all of the Indexing: Indexes and volumes dashboards in the Monitoring Console.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <span class="zmdi zmdi-plus zmdi-hc-fw"></span>
                                    Data quality
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    This topic is a reference for all of the Indexing: Indexes and volumes dashboards in the Monitoring Console.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <span class="zmdi zmdi-plus zmdi-hc-fw"></span>
                                    Indexer clustering: Service activity
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    This topic is a reference for all of the Indexing: Indexes and volumes dashboards in the Monitoring Console.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                    <span class="zmdi zmdi-plus zmdi-hc-fw"></span>
                                    Indexer clustering: Service activity
                                </a>
                            </h4>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    This topic is a reference for all of the Indexing: Indexes and volumes dashboards in the Monitoring Console.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#" class="view_More">View More</a>

            </div>
            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12 no-padding">
                <img src="~/Content/img/dashboard-img.jpg" alt="dashbord-img" class="img-responsive" style="width:100%;">
            </div>
            <div class="clr"></div>
        </div>
    </section><!--End_promot-iLDS-->
    <section class="testimonial-section">
        <div class="container">
            <div class="page-title">
                <p>Testimonials</p>
                <h1>What <span>Other Say</span></h1>
                <img src="~/Content/img/titleborder.png" alt="titleborder">
            </div>
            <div class="col-md-12 no-padding" data-wow-delay="0.2s">
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner text-center edittestmonial">
                        <!-- Quote 1 -->
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="quote_icon">
                                        <img src="~/Content/img/quote_L.png" alt="quote_L" class="quoteicon_l">
                                        <img src="~/Content/img/quote_R.png" alt="quote_R" class="quoteicon_r">
                                    </div>
                                    <p>
                                        We focus on using the latest technologies to provide qualified leads and best possible benefit on your investment to help you <br />to achieve your sales target through our lead generation services.
                                    </p>
                                    <span>Someone famous</span>
                                </div>
                            </div>
                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="quote_icon">
                                        <img src="~/Content/img/quote_L.png" alt="quote_L" class="quoteicon_l">
                                        <img src="~/Content/img/quote_R.png" alt="quote_R" class="quoteicon_r">
                                    </div>
                                    <p>
                                        We focus on using the latest technologies to provide qualified leads and best possible benefit on your investment to help you <br />to achieve your sales target through our lead generation services.
                                    </p>
                                    <span>Someone famous</span>
                                </div>
                            </div>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="quote_icon">
                                        <img src="~/Content/img/quote_L.png" alt="quote_L" class="quoteicon_l">
                                        <img src="~/Content/img/quote_R.png" alt="quote_R" class="quoteicon_r">
                                    </div>
                                    <p>
                                        We focus on using the latest technologies to provide qualified leads and best possible benefit on your investment to help you <br />to achieve your sales target through our lead generation services.
                                    </p>
                                    <span>Someone famous</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Carousel Buttons Next/Prev -->
                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control" style="color:#00c5dc;">
                        <i class="zmdi zmdi-chevron-left zmdi-hc-fw"></i>
                    </a>
                    <a data-slide="next" href="#quote-carousel" class="right carousel-control" style="color:#00c5dc;">
                        <i class="zmdi zmdi-chevron-right zmdi-hc-fw"></i>
                    </a>
                </div>
            </div>
        </div>
    </section><!--End_testimonial-section-->


</div><!--End_wrapperbody-->

